.greetings{
   position: relative;
}

.greetings__msg{
    font-size: 4vw;
    font-weight: bold;
    color : #202020;
    text-shadow: 6px 0px 6px rgba(145, 152, 154, 0.3),
                0px 6px 6px rgba(145, 152, 154, 0.3),
                -6px 0px 6px rgba(145, 152, 154, 0.3),
                0px -6px 6px rgba(145, 152, 154, 0.3);
}

.greetings__input,
.greetings__msg
{
    display: none;
    margin-top: 4vh;
}

.show {
    display: block;
}

.greetings__input i {
    position: absolute;
    margin-top: 5.5vh;
    margin-right: 1vh;
    top : 0;
    right: 0;
    cursor: pointer;
    color : rgba(145, 152, 154, 0.7);
}