#weather{
    position: absolute;
    top : 3rem;
    right: 3rem;
}

#weather span:first-child{
    font-size: .9rem;
    color: var(--gray);
}

#weather__icon img{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--gray);
    margin-left: .3rem;
}